@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

// Some variables
$orange: #ffa600;
$blue: #82d2e5;
$green:#c1d72e;
$list1:background-color;

.App {
  text-align: center;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.list {
  z-index: 1;
}

.happyday {
  // display: inline;
  font-family: 'Nunito', sans-serif;
  font-size: 2.5rem;
  z-index: 1;
  margin-top: 35px;
  list-style-type: none;
}

.mother {
  // display: inline;
  font-family: 'Allura', cursive;
  font-size: 80px;
  z-index: 1;
  list-style-type: none;
}


.circle {
  position: absolute;
  background-color: rgb(203, 206, 17);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  z-index: 0;
}


.heart-shape {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(250, 66, 66, 1);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
	
.heart-shape:before {
  position: absolute;
  bottom: 0px;
  left: -150px;
  width: 300px;
  height: 300px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(250, 66, 66, 1);
}

.heart-shape:after {
  position: absolute;
  top: -150px;
  right: 0px;
  width: 300px;
  height: 300px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(250, 66, 66, 1);
}

.btn{padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 10px 10px 10px 10px;
    margin-top: 7rem;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: rgb(233, 69, 48);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.btn:hover, .btn:focus {
    opacity: 0.8;
}
.btn:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
a {
  text-decoration: none;
}